_HTML/src/Jade/Views/step1.jade
﻿//- ++++++++++++++++++++++++++++++++++++++++
	
	Views/Index.jade
	Главная страница / index.html

	Wezom wTPL v4.0.0

//- ++++++++++++++++++++++++++++++++++++++++

extends ../Templates/Base

block Declaration
	-fileAlias = 'cart'
	-bodyAttr.class = 'news-page'
	-seoSet = false
	-mainMenuPath = ['Главная']
	
block wMenu

block wContainer
	.breads
		.wSize
			include ../Widgets/Breadcrumbs
	.wSize
		.cart-block
			.cart-block_steps
				.cart-block_step.is-active
					span Корзина
						i № 123845
				.cart-block_step
					span Личные данные
				.cart-block_step
					span Доставка и оплата
			.cart-block_cart
				.cart-block_titleCart
					div
					div Наименование товара
					div Цена за единицу
					div Количество
					div Общая сумма
				div.popup-cart
					- for (i=0;i<2;i++) {
						.popup-cart_item
							.popup-cart_item_img
								a(href='#')
									img(src='images/wash-item.jpg')
							.popup-cart_item_cener
								.popup-cart_item_title
									a(href='#') LED-телевизор SAMSUNG UE32J5500AUXUA
								.popup-cart_item_countPrice 1 шт. х&nbsp;
									i 34
									| &nbsp;грн.
								.popup-cart_item_pricetel
									span 34
									| &nbsp;грн
							.popup-cart_item_price_one 34 грн
							.popup-cart_item_count
								.popup-cart_item_dec.js-change-count(data-id="",data-delta="-1")
								.popup-cart_item_input
									input(type='tel',value='1',maxlength=2,onkeypress='return event.charCode >= 48 && event.charCode <= 57').js-count
								.popup-cart_item_inc.js-change-count(data-id="",data-delta="1")
								.popup-cart_item_remove
									span.call-popupLink.js-remove-from-cart(data-id="") удалить товар
							.popup-cart_item_price
								span 34
								| &nbsp;грн
					- }
				.footer-basket
					.footer-basket_cols-2
						.footer-basket-col
							.footer-basket_title
								.svgHolder
									svg: use(xlink:href="#logo")/
								span Ваш заказ
							.footer-basket_footer
								.footer-basket_prices
									.footer-basket_count
										div
											em 0
											| &nbsp;товара на сумму
										b
											span 0
											| &nbsp;грн
									.footer-basket_promo-mes
									.footer-basket_summary
										div Итого:
										b
											span 0
											| &nbsp;грн
								.footer-basket_promos
									.footer-basket_promo
										.call-popupLink.mfiA(data-url="hidden/promocode_popup.php") Ввести промокод
										span.i.mfiA(data-url="hidden/text-popup.php")
									.footer-basket_promo.mfiA(data-url="hidden/certificate_popup.php")
										.call-popupLink Оплатить сертификатом
										span.i.mfiA(data-url="hidden/text-popup.php")
						.footer-basket-col
							a(href='#').gradient-button Продолжить
								.svgHolder
									svg: use(xlink:href="#arrow_slide")/

_HTML/dist/step1.html
<!DOCTYPE html>
<html lang="ru-RU" dir="ltr" class="no-js">
	<head>
		<!-- (c) студия Wezom | www.wezom.com.ua-->
		<!-- wTPL | v#{locals.version}-->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Оформление заказа | Верстка | (c) студия Wezom | www.wezom.com.ua</title>
		<meta name="description" lang="ru-ru" content="">
		<meta name="keywords" lang="ru-ru" content="студия wezom, разработка сайтов">
		<meta name="keywords" lang="en-us" content="studio wezom, web development">
		<meta name="author" lang="ru-ru" content="">
		<meta name="apple-mobile-web-app-status-bar-style" content="#50565e">
		<!-- Open Graph -->
		<meta property="og:title" content="Заголовок страницы">
		<meta property="og:type" content="website">
		<meta property="og:site_name" content="site.com">
		<meta property="og:url" content="http://site.com/current-page">
		<meta property="og:description" content="краткий текст (новости, товара и т.д)">
		<!-- Touch -->
		<meta name="format-detection" content="telephone=no">
		<meta name="format-detection" content="address=no">
		<!--Responsive-->
		<meta name="HandheldFriendly" content="True">
		<meta name="MobileOptimized" content="320">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="viewport" content="target-densitydpi=device-dpi">
		<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<!-- saved from url=(0014)about:internet -->
		<!--[if IE]><meta http-equiv="imagetoolbar" content="no"><![endif]-->
		<!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
		<!-- localStorage test -->
		<script>!function(t){function r(){var t=navigator.userAgent,r=!window.addEventListener||t.match(/(Android (2|3|4.0|4.1|4.2|4.3))|(Opera (Mini|Mobi))/)&&!t.match(/Chrome/);if(r)return!1;var e="test";try{return localStorage.setItem(e,e),localStorage.removeItem(e),!0}catch(o){return!1}}t.localSupport=r(),t.localWrite=function(t,r){try{localStorage.setItem(t,r)}catch(e){if(e==QUOTA_EXCEEDED_ERR)return!1}}}(window);
		</script>
		<!-- Внешние css файлы-->
		<link rel="stylesheet" property="stylesheet" href="css/components.css">
		<link rel="stylesheet" property="stylesheet" href="css/style.css">
		<link rel="stylesheet" property="stylesheet" href="css/responsive.css">
		<!-- Внешние js файлы-->
		<script src="js/libs.js"></script>
		<script src="js/components.js"></script>
		<script src="js/inits.js"></script>
		<script src="js/validation.js"></script><script src="https://maps.googleapis.com/maps/api/js?callback=initMap&amp;key=AIzaSyAeiDYGyarnWalSY8SQCIxxhoy-8Qq541c" async defer></script>
		<script>
			var Locations = [
			   {
			       lat: 25.987099,
			   lon: -80.1747707,
			   descr: '<p>3146 John P Curci Dr, Pembroke Park, FL, 33009</p> <p>1-786-799-8961</p> <p><a href="mailto:support@elportadoors.com">support@elportadoors.com</a></p>'
			   }
			];
		</script>
<script>
		var a2a_config = a2a_config || {};
		a2a_config.onclick = 1;
		a2a_config.locale = "ru";
		a2a_config.num_services = 6;
		</script>
		<script async src="https://static.addtoany.com/menu/page.js"></script>
		<!-- Favicons -->
		<link rel="apple-touch-icon" sizes="57x57" href="favicons/apple-touch-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="60x60" href="favicons/apple-touch-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="72x72" href="favicons/apple-touch-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="76x76" href="favicons/apple-touch-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="114x114" href="favicons/apple-touch-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="120x120" href="favicons/apple-touch-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="144x144" href="favicons/apple-touch-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="152x152" href="favicons/apple-touch-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="favicons/apple-touch-icon-180x180.png">
		<link rel="icon" type="image/png" href="favicons/favicon-32x32.png" sizes="32x32">
		<link rel="icon" type="image/png" href="favicons/android-chrome-192x192.png" sizes="192x192">
		<link rel="icon" type="image/png" href="favicons/favicon-16x16.png" sizes="16x16">
		<link rel="manifest" href="manifest.json">
		<link rel="mask-icon" href="favicons/safari-pinned-tab.svg" color="#5bbad5">
		<link rel="shortcut icon" href="favicon.ico">
		<meta name="msapplication-TileColor" content="#da532c">
		<meta name="msapplication-TileImage" content="favicons/mstile-144x144.png">
		<meta name="msapplication-config" content="browserconfig.xml">
		<meta name="theme-color" content="#ffffff">
	</head>
	<body class="news-page">
		<div class="mobile-filter"></div>
		<div class="wWrapper">
			<header class="wHeader">
				<div class="wSize">
					<div class="pseudo-table w_clearfix">
						<div class="col"><a href="/" class="logo">
								<div class="logo__icon"><span class="svgHolder">
										<svg>
											<use xlink:href="#logo"/>
										</svg></span></div>
								<div class="logo__text">
									<div class="logo__name"><img src="pic/logo-text.png" alt=""></div>
									<div class="logo__desc"><span>Продажа электроники и бытовой техники</span></div>
								</div></a></div>
						<div class="col">
							<nav class="wMenu">
								<ul>
									<li><a href="index.html"><span>О кампании</span></a>
									</li>
									<li><a href="ui_text.html"><span>Новости</span></a>
									</li>
									<li><a href="sitemap.html"><span>Статьи </span></a>
									</li>
									<li><a href="sitemap.html"><span>Акции </span></a>
									</li>
									<li><a href="sitemap.html"><span>Доставка </span></a>
									</li>
									<li><a href="sitemap.html"><span>Контакты </span></a>
									</li>
								</ul>
							</nav>
							<!-- wMenu-->
							<div class="phones-with-link">
								<div class="vodafone"><b><a href="tel:0991234567">(099) 123-45-67</a></b></div>
								<div class="city"><b><a href="tel:0991234567">(0512) 123-45-67</a></b></div>
								<div class="life"><b><a href="tel:0991234567">(099) 123-45-67</a></b></div>
								<div class="popup-link w_tar"><span data-url="hidden/callback.php" class="call-popupLink mfiA">Закажите обратный звонок</span></div>
							</div>
							<div class="work-time">
								<p><b>Пн-Пт</b> – 9:00-17:00</p>
								<p><b>Сб-Вс</b>  – выходной</p>
							</div>
						</div>
						<div class="col">
							<div data-url="hidden/enter-reg.php" class="enter-tolk mfiA"><span>Вход в личный кабинет</span></div>
							<div class="shop-icons">
								<div><a href="#" class="compare">
										<div class="svgHolder">
											<svg>
												<use xlink:href="#compare"/>
											</svg>
										</div><span class="total-cart-count">0</span></a></div>
								<div><a href="#" class="favorite"><i class="svgHolder">
											<svg>
												<use xlink:href="#heart"/>
											</svg></i><span class="total-cart-count">0</span></a></div>
							</div>
						</div>
					</div>
				</div>
			</header>
			<div class="top-line">
				<div class="wSize">
					<div class="pseudo-table w_clearfix">
						<div class="col">
							<div class="top-menu">
								<div class="top-menu_link js-dropdown"><span class="svgHolder">
										<svg>
											<use xlink:href="#burger"/>
										</svg></span>
									<div class="show-all white-text">Все категории товаров</div>
								</div>
								<div class="dropdown-menu js-dropdown-menu">
									<ul>
										<li><a href="index.html"><span>Холодильники</span></a>
										</li>
										<li><a href="index.html"><span>Холодильники</span></a>
										</li>
										<li><a href="index.html"><span>Холодильники</span></a>
										</li>
										<li><a href="index.html"><span>Холодильники</span></a>
										</li>
										<li><a href="index.html"><span>Холодильники</span></a>
										</li>
										<li><a href="index.html"><span>Холодильники</span></a>
										</li>
										<li><a href="index.html"><span>Холодильники</span></a>
										</li>
										<li><a href="index.html"><span>Холодильники</span></a>
										</li>
										<li><a href="index.html"><span>Холодильники</span></a>
										</li>
										<li><a href="index.html"><span>Холодильники</span></a>
										</li>
										<li><a href="index.html"><span>Холодильники</span></a>
										</li>
										<li class="haveSubMenu"><a href="ui_text.html"><span>Встроенная техника</span></a>
											<ul>
												<li><a href="ui_text.html"><span>Духовые шкафы</span></a>
												</li>
												<li class="haveSubMenu"><a href="ui_elements.html"><span>Газовые плиты</span></a>
													<ul>
														<li><a href="ui_text.html"><span>Духовые шкафы</span></a>
														</li>
														<li><a href="ui_elements.html"><span>Газовые плиты</span></a>
														</li>
														<li><a href="ui_forms.html"><span>Электрические плиты</span></a>
														</li>
														<li><a href="ui_svg.html"><span>Многодверные</span></a>
														</li>
														<li><a href="ui_svg.html"><span>Холодильники для вина</span></a>
														</li>
														<li><a href="ui_svg.html"><span>Встраиваемые холодильники</span></a>
														</li>
														<li><a href="ui_svg.html"><span>Холодильные шкафы</span></a>
														</li>
													</ul>
												</li>
												<li><a href="ui_forms.html"><span>Электрические плиты</span></a>
												</li>
												<li><a href="ui_svg.html"><span>Многодверные</span></a>
												</li>
												<li><a href="ui_svg.html"><span>Холодильники для вина</span></a>
												</li>
												<li><a href="ui_svg.html"><span>Встраиваемые холодильники</span></a>
												</li>
												<li><a href="ui_svg.html"><span>Холодильные шкафы</span></a>
												</li>
											</ul>
										</li>
										<li><a href="sitemap.html"><span>Карта сайта</span></a>
										</li>
									</ul>
									<!-- wMenu-->
								</div>
							</div>
						</div>
						<div class="col"><a href="#" class="white-text promo-link">
								<div class="svgHolder">
									<svg>
										<use xlink:href="#promotions"/>
									</svg>
								</div><span>Акции</span></a>
							<div data-form="true" class="search-box wForm">
								<div class="wFormRow">
									<div class="search-box_inputWrapper wInput">
										<input type="text" placeholder="Поиск" data-rule-minlength="2" required name="search" data-rule-word="true">
										<div class="wSubmit"></div>
									</div>
									<div class="search-box_selectWrapper">
										<select class="select2">
											<option>По всем категориям</option>
											<option>Холодильники</option>
											<option>Холодильники</option>
											<option>Холодильники</option>
											<option>Холодильники</option>
										</select>
									</div>
								</div>
							</div>
						</div>
						<div class="col w_flr"><a href="#" class="white-text delivery-link">
								<div class="svgHolder">
									<svg>
										<use xlink:href="#marker"/>
									</svg>
								</div><span>Пункты выдачи</span></a></div>
					</div>
				</div>
			</div>
			<div class="main-categories">
				<div class="wSize">
					<div class="main-categories_category"><a href="#" title="категория" style="background-image: url(pic/cookie.png)" class="icon-cookie"></a></div>
					<div class="main-categories_category"><a href="#" title="категория" style="background-image: url(pic/iron.png);" class="icon-iron"></a></div>
					<div class="main-categories_category"><a href="#" title="категория" style="background-image: url(pic/laptop.png);" class="icon-laptop"></a></div>
					<div class="main-categories_category"><a href="#" title="категория" style="background-image: url(pic/freezier.png);" class="icon-freezier"></a></div>
					<div class="main-categories_category"><a href="#" title="категория" style="background-image: url(pic/wash.png);" class="icon-wash"></a></div>
					<div class="main-categories_category"><a href="#" title="категория" style="background-image: url(pic/konditioneer.png);" class="icon-conditioner"></a></div>
					<div class="main-categories_category"><a href="#" title="категория" style="background-image: url(pic/boiler.png);" class="icon-boiler"></a></div>
					<div class="main-categories_category"><a href="#" title="категория" style="background-image: url(pic/kettke.png);" class="icon-kettle"></a></div>
					<div class="main-categories_category"><a href="#" title="категория" style="background-image: url(pic/multicook.png);" class="icon-multicook"></a></div>
					<div class="main-categories_category"><a href="#" title="категория" style="background-image: url(pic/tv.png);" class="icon-tv"></a></div>
					<div class="main-categories_category"><a href="#" title="категория" style="background-image: url(pic/phone.png);" class="icon-phone"></a></div>
					<div class="main-categories_category"><a href="#" title="категория" style="background-image: url(pic/camera.png);" class="icon-camera"></a></div>
					<div class="main-categories_category"><a href="#" title="категория" style="background-image: url(pic/tablet.png);" class="icon-tablet"></a></div>
				</div>
			</div>
			<div class="mobile-head">
				<div class="wSize w_clearfix">
					<div class="w_fll">
						<div class="mobile-head_burger"><a href="#mmenu" class="svgHolder">
								<svg>
									<use xlink:href="#burger"/>
								</svg></a></div>
						<div class="mobile-head_search"><span class="svgHolder">
								<svg>
									<use xlink:href="#magnifier"/>
								</svg></span>
							<div class="mobile-head_search-box js-search"></div>
						</div>
						<div id="mmenu"></div>
					</div>
					<div class="w_flr">
						<div class="mobile-head_user"><span data-url="hidden/enter-reg.php" class="svgHolder mfiA">
								<svg>
									<use xlink:href="#user_lk"/>
								</svg></span></div>
					</div>
				</div>
			</div>
			<!-- .wHeader -->
			<div class="wContainer">
				<div class="breads">
					<div class="wSize">
						<div class="breadcrumbs"> 
							<span><a href="index.html">Главная</a></span> 
							<span>Оформление заказа</span>
						</div>
						<!-- breadcrumbs -->
					</div>
				</div>
				<div class="wSize">
					<div class="cart-block">
						<div class="cart-block_steps">
							<div class="cart-block_step is-active"><span>Корзина<i>№ 123845</i></span></div>
							<div class="cart-block_step"><span>Личные данные</span></div>
							<div class="cart-block_step"><span>Доставка и оплата</span></div>
						</div>
						<div class="cart-block_cart">
							<div class="cart-block_titleCart">
								<div></div>
								<div>Наименование товара</div>
								<div>Цена за единицу</div>
								<div>Количество</div>
								<div>Общая сумма</div>
							</div>
							<div class="popup-cart">
								<div class="popup-cart_item">
									<div class="popup-cart_item_img"><a href="#"><img src="images/wash-item.jpg"></a></div>
									<div class="popup-cart_item_cener">
										<div class="popup-cart_item_title"><a href="#">LED-телевизор SAMSUNG UE32J5500AUXUA</a></div>
										<div class="popup-cart_item_countPrice">1 шт. х&nbsp;<i>34</i>&nbsp;грн.</div>
										<div class="popup-cart_item_pricetel"><span>34</span>&nbsp;грн</div>
									</div>
									<div class="popup-cart_item_price_one">34 грн</div>
									<div class="popup-cart_item_count">
										<div data-id="" data-delta="-1" class="popup-cart_item_dec js-change-count"></div>
										<div class="popup-cart_item_input">
											<input type="tel" value="1" maxlength="2" onkeypress="return event.charCode &gt;= 48 &amp;&amp; event.charCode &lt;= 57" class="js-count">
										</div>
										<div data-id="" data-delta="1" class="popup-cart_item_inc js-change-count"></div>
										<div class="popup-cart_item_remove"><span data-id="" class="call-popupLink js-remove-from-cart">удалить товар</span></div>
									</div>
									<div class="popup-cart_item_price"><span>34</span>&nbsp;грн</div>
								</div>
								<div class="popup-cart_item">
									<div class="popup-cart_item_img"><a href="#"><img src="images/wash-item.jpg"></a></div>
									<div class="popup-cart_item_cener">
										<div class="popup-cart_item_title"><a href="#">LED-телевизор SAMSUNG UE32J5500AUXUA</a></div>
										<div class="popup-cart_item_countPrice">1 шт. х&nbsp;<i>34</i>&nbsp;грн.</div>
										<div class="popup-cart_item_pricetel"><span>34</span>&nbsp;грн</div>
									</div>
									<div class="popup-cart_item_price_one">34 грн</div>
									<div class="popup-cart_item_count">
										<div data-id="" data-delta="-1" class="popup-cart_item_dec js-change-count"></div>
										<div class="popup-cart_item_input">
											<input type="tel" value="1" maxlength="2" onkeypress="return event.charCode &gt;= 48 &amp;&amp; event.charCode &lt;= 57" class="js-count">
										</div>
										<div data-id="" data-delta="1" class="popup-cart_item_inc js-change-count"></div>
										<div class="popup-cart_item_remove"><span data-id="" class="call-popupLink js-remove-from-cart">удалить товар</span></div>
									</div>
									<div class="popup-cart_item_price"><span>34</span>&nbsp;грн</div>
								</div>
							</div>
							<div class="footer-basket">
								<div class="footer-basket_cols-2">
									<div class="footer-basket-col">
										<div class="footer-basket_title">
											<div class="svgHolder">
												<svg>
													<use xlink:href="#logo"/>
												</svg>
											</div><span>Ваш заказ</span>
										</div>
										<div class="footer-basket_footer">
											<div class="footer-basket_prices">
												<div class="footer-basket_count">
													<div><em>0</em>&nbsp;товара на сумму</div><b><span>0</span>&nbsp;грн</b>
												</div>
												<div class="footer-basket_promo-mes"></div>
												<div class="footer-basket_summary">
													<div>Итого:</div><b><span>0</span>&nbsp;грн</b>
												</div>
											</div>
											<div class="footer-basket_promos">
												<div class="footer-basket_promo">
													<div data-url="hidden/promocode_popup.php" class="call-popupLink mfiA">Ввести промокод</div><span data-url="hidden/text-popup.php" class="i mfiA"></span>
												</div>
												<div data-url="hidden/certificate_popup.php" class="footer-basket_promo mfiA">
													<div class="call-popupLink">Оплатить сертификатом</div><span data-url="hidden/text-popup.php" class="i mfiA"></span>
												</div>
											</div>
										</div>
									</div>
									<div class="footer-basket-col"><a href="#" class="gradient-button">Продолжить
											<div class="svgHolder">
												<svg>
													<use xlink:href="#arrow_slide"/>
												</svg>
											</div></a></div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- .wConteiner -->
			</div>
			<footer class="wFooter">
				<div class="wSize">
					<div class="pseudo-table table">
						<div class="col"><a href="/" class="logo small">
								<div class="logo__icon"><span class="svgHolder">
										<svg>
											<use xlink:href="#logo"/>
										</svg></span></div>
								<div class="logo__text">
									<div class="logo__name"><img src="pic/logo-text.png" alt=""></div>
									<div class="logo__desc"><span>Продажа электроники и бытовой техники</span></div>
								</div></a>
							<div class="js-phone-call">
								<div class="phone-dropdown phone-dropdown-margin relative js-relative">
									<div class="phone-dropdown__mainNumber"><span><a href="tel:0991234567">(0512) 123-45-67</a></span>
										<div class="arrowdown"></div>
										<div class="phone-dropdown__list">
											<div class="phone-dropdown__phone vodafone"><span><a href="tel:0991234567">(052) 123-45-67</a></span></div>
											<div class="phone-dropdown__phone life"><span><a href="tel:0991234567">(051) 123-45-67</a></span></div>
										</div>
									</div>
								</div><span data-url="hidden/callback.php" class="call-popupLink call-popupLink-margin mfiA">Закажите обратный звонок</span>
							</div><a href="mailto:e-konomia@gmail.com" class="email-link email-link_margin"><span class="svgHolder">
									<svg>
										<use xlink:href="#mail"/>
									</svg></span><span>e-konomia@gmail.com</span></a>
						</div>
						<div class="col">
							<div class="footer-menu">
								<ul class="footer-menu_list">
									<li><a href="#">О кампании</a></li>
									<li><a href="#">Новости</a></li>
									<li><a href="#">Статьи</a></li>
									<li><a href="#">Акции</a></li>
									<li><a href="#">Доставка</a></li>
									<li><a href="#">Контакты</a></li>
								</ul>
								<ul class="footer-menu_list">
									<li><a href="#">Наши партнеры</a></li>
									<li><a href="#">Карта сайта</a></li>
									<li><a href="#">Гарантия</a></li>
									<li><a href="#">Подключение, установка и настройка техники</a></li>
								</ul>
							</div>
						</div>
						<div class="col">
							<div data-form="true" class="rss-socials wForm">
								<div class="rss-socials_title">Подпишитесь на рассылку <br>  новостей и акционных предложений от e-konomia.com.ua</div>
								<div class="rss-socials_form wFormRow">
									<input type="email" required placeholder="Ваш e-mail"><span class="wSubmit">ок</span>
								</div>
								<div class="rss-socials_social"><span>Мы в соцсетях</span>
									<div class="rss-socials_icons"><a href="#"><span class="vk"></span></a><a href="#"><span class="fb"></span></a><a href="#"><span class="od"></span></a><a href="#"><span class="tw"></span></a></div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="footer-line">
					<div class="wSize w_clearfix">
						<div class="footer-line_left"><span>© 2016 E-konomia.com.ua <i>Продажа бытовой техники и электроники</i></span></div>
						<div class="footer-line_right"><a href="http://wezom.com.ua" target="_blank" class="footer-line_logo"><span>Разработано в студии Wezom</span><span class="svgHolder">
									<svg>
										<use xlink:href="#icon_wezom"/>
									</svg></span></a></div>
					</div>
				</div>
			</footer>
			<div class="overlay js-overlay"></div>
			<svg id="svgSprite" xmlns="http://www.w3.org/2000/svg" style="height:0; width:0; visibility:hidden; position:absolute; top:0; left:0;">
				<symbol id="icon_star" viewbox="0 0 17 15">
					<path data-name="Shape 3 copy 3" d="M1031,978l-3,5h-6l5,4-1,6,5-3,5,3-1-6,4-4h-6Z" transform="translate(-1022 -978)"/>
				</symbol>
			</svg>
			<!-- .wFooter-->
		</div>
		<!-- WezomDefs -->
		<!-- script disabled message -->
		<noscript>
			<input id="wzmMsg_JsClose" type="checkbox" title="Закрыть">
			<div id="wzmMsg_JsInform" class="wzmMsg_Wrapp">
				<div class="wzmMsg_Text">
					<p>В Вашем браузере <strong>отключен JavaScript!</strong> Для корректной работы с сайтом необходима поддержка Javascript.</p>
					<p>Мы рекомендуем Вам включить использование JavaScript в настройках вашего браузера.</p>
				</div>
				<a href="http://wezom.com.ua/" target="_blank" title="Студия Wezom" class="wzmMsg_Link">
					<img src="pic/wezom-info-red.gif" width="50" height="18" alt="Студия Wezom">
				</a>
				<label for="wzmMsg_JsClose" class="wzmMsg_Close"><span>&times;</span></label>
			</div>
		</noscript>
		<!-- old browser detect -->
		<script>function $wzmOldInit(){var t=document.createElement("script");t.src="http://verstka.vps.kherson.ua/sources/plugins/wold/wold.js",document.body.appendChild(t)}try{document.addEventListener("DOMContentLoaded",$wzmOldInit,!1)}catch(e){window.attachEvent("onload",$wzmOldInit)}
		</script>
		<!-- svg sprite -->
		<script>window.wSpriteSvg=function(t,e,i){var n={ns:"http://www.w3.org/2000/svg",initialize:function(e,i){if(this.prefix="wSpriteSvg_"+e.id,t.localSupport){var n=t.localStorage[this.prefix];if(n){var s=JSON.parse(n);this.setSprite(e,s)}else this.getJson(e,i)}else this.getJson(e,i)},getJson:function(e,i){var n=new XMLHttpRequest,s=this;n.open("GET",i,!0),n.setRequestHeader("Content-type","application/json"),n.onreadystatechange=function(){if(4==n.readyState&&200==n.status){var i=JSON.parse(n.responseText);s.setSprite(e,i),t.localSupport&&t.localWrite(s.prefix,JSON.stringify(i))}},n.send()},buildElem:function(t,i){var n,s,r;for(n in i)for(s in i[n]){var o=e.createElementNS(this.ns,s);for(r in i[n][s])"stops"===r?this.buildElem(o,i[n][s][r]):"innerHTML"==r?o.innerHTML=i[n][s][r]:o.setAttributeNS(null,r,i[n][s][r]);t.appendChild(o)}},setSprite:function(t,i){for(var n in i){var s=i[n],r=e.createElementNS(this.ns,"symbol");r.setAttributeNS(null,"id",n),r.setAttributeNS(null,"viewBox",s.viewBox),this.buildElem(r,s.symbol),s.hasOwnProperty("gradients")&&this.buildElem(t,s.gradients),t.appendChild(r)}this.isDone(t,i)},isDone:function(t,e){}};return n}(this,this.document);
		</script>
		<!-- изменить id у svg элемента -> #sprite_SiteName -->
		<svg id="sprite_SiteName" xmlns="http://www.w3.org/2000/svg" style="height:0; width:0; visibility:hidden; position:absolute; top:0; left:0;" onload="wSpriteSvg.initialize(this,'jsons/svgsprite.json')"/>
	</body>
</html>
